.image-blob {
    width: 300px;
    height: 300px;
    background: #3b6ef5;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-blob img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hero-section {
     padding-top: 15vh;
}

