<div th:fragment="content">

    <section class="home">
        <div class="home-centent">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-5">
                    <h1 class="hero-title">
                        Hi,<br>
                        I’m <span class="text-primary">Sofikul Islam</span><br>
                        Software Engineer
                    </h1>

                    <a th:href="@{/contact}" class="btn btn-primary mt-3 px-4">
                        Contact
                    </a>
                </div>

                <div class="col-md-5 d-flex justify-content-center">
                    <div class="image-blob">
                        <img th:src="@{/images/profile.png}" alt="Profile">
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
